<td class="has-text-mono">
  <p><%= model.identity %></p>
  <% if defined? RailsWechat %>
    <p class="has-text-info"><%= model.unionid %></p>
  <% end %>
</td>
<td>
  <p>
    <span><%= model.real_name %></span>
    <span class="tag"><%= model.gender_i18n %></span>
  </p>
  <p class="has-text-grey">
    <span><%= model.nick_name %></span>
    <span class="tag"><%= model.user_id %></span>
  </p>
</td>
<td class="has-text-centered">
<% if model.birthday.present? %>
  <p>
    <span><%= model.birthday %></span>
  </p>
  <p>
    <span class="tag"><%= model.birthday_type_i18n %></span>
    <span><%= model.age_str %></span>
  </p>
<% end %>
</td>
<td><time data-controller="time"><%= model.created_at.to_fs(:iso8601) %></time></td>
