<td>
  <p><%= model.address.contact %></p>
  <p><%= model.address.tel %></p>
</td>
<td>
  <p><%= model.address.area.full_name %></p>
  <p><%= model.address.detail %></p>
</td>
<td><%= model.kind %></td>
<td><%= model.default %></td>
