<tr>
  <td class="has-text-right"><%= AddressOrgan.human_attribute_name(:contact) %></td>
  <td><%= @address_organ.contact %></td>
</tr>
<tr>
  <td class="has-text-right"><%= AddressOrgan.human_attribute_name(:tel) %></td>
  <td><%= @address_organ.tel %></td>
</tr>
<tr>
  <td class="has-text-right"><%= AddressOrgan.human_attribute_name(:post_code) %></td>
  <td><%= @address_organ.post_code %></td>
</tr>
<tr>
  <td class="has-text-right"><%= AddressOrgan.human_attribute_name(:area_id) %></td>
  <td><%= @address_organ.area_id %></td>
</tr>
<tr>
  <td class="has-text-right"><%= AddressOrgan.human_attribute_name(:detail) %></td>
  <td><%= @address_organ.detail %></td>
</tr>
<tr>
  <td class="has-text-right"><%= AddressOrgan.human_attribute_name(:kind) %></td>
  <td><%= @address_organ.kind %></td>
</tr>
<tr>
  <td class="has-text-right"><%= AddressOrgan.human_attribute_name(:default) %></td>
  <td><%= @address_organ.default %></td>
</tr>
