<label class="weui-cell weui-cell_active weui-check__label" for="address_id_<%= address.id %>">
  <div class="weui-cell__bd">
    <p>
      <strong><%= address.contact %></strong>
      <span><%= address.tel %></span>
      <% if address.station %>
        <span class="tag"><%= address.station.name %></span>
      <% end %>
    </p>
    <p class="has-text-grey is-size-7">
      <span><%= address.area.full_name %></span>
      <span><%= address.detail %></span>
    </p>
  </div>
  <div class="weui-cell__ft" data-controller="input">
    <%= radio_button_tag 'order[from_address_id]', address.id, address.id.to_s == params[:from_address_id], class: 'weui-check', id: "address_id_#{address.id}", form: 'new_order', data: { action: 'input#form' } %>
    <span class="weui-icon-checked"></span>
  </div>
</label>
