<tr>
  <td class="has-text-right"><%= Profiled::Address.human_attribute_name(:contact_person) %></td>
  <td><%= @address.contact_person %></td>
</tr>
<tr>
  <td class="has-text-right"><%= Profiled::Address.human_attribute_name(:tel) %></td>
  <td><%= @address.tel %></td>
</tr>
<tr>
  <td class="has-text-right"><%= Profiled::Address.human_attribute_name(:post_code) %></td>
  <td><%= @address.post_code %></td>
</tr>
<tr>
  <td class="has-text-right"><%= Profiled::Address.human_attribute_name(:area_id) %></td>
  <td><%= @address.area_id %></td>
</tr>
<tr>
  <td class="has-text-right"><%= Profiled::Address.human_attribute_name(:detail) %></td>
  <td><%= @address.detail %></td>
</tr>
