<td><%= model.real_name %></td>
<td><%= model.nick_name %></td>
<td><%= model.gender %></td>
<td><%= model.birthday_type %></td>
<td><%= model.birthday %></td>
<td><%= model.area_id %></td>
<td><%= model.address %></td>
<td><%= model.note %></td>
<td><%= model.extra %></td>
