<div class="ui top attached segment">
  <%= render 'filter' %>
</div>

<table class="table is-hoverable is-fullwidth">
  <thead>
    <tr>
      <th><%= Profile.human_attribute_name(:id) %></th>
      <th><%= Profile.human_attribute_name(:real_name) %></th>
      <th><%= Profile.human_attribute_name(:nick_name) %></th>
      <th><%= Profile.human_attribute_name(:gender) %></th>
      <th><%= Profile.human_attribute_name(:birthday_type) %></th>
      <th><%= Profile.human_attribute_name(:birthday) %></th>
      <th><%= Profile.human_attribute_name(:area_id) %></th>
      <th><%= Profile.human_attribute_name(:address) %></th>
      <th><%= Profile.human_attribute_name(:note) %></th>
      <th><%= Profile.human_attribute_name(:extra) %></th>
      <th>
        <%= link_to new_admin_profile_path, remote: true, class: 'ui mini green button' do %>
          <i class="fas fa-plus"></i><%= t('.new') %>
        <% end %>
      </th>
    </tr>
  </thead>
  <tbody>
  <% @profiles.each do |profile| %>
    <tr>
      <td><%= profile.id %></td>
      <td><%= profile.real_name %></td>
      <td><%= profile.nick_name %></td>
      <td><%= profile.gender %></td>
      <td><%= profile.birthday_type %></td>
      <td><%= profile.birthday %></td>
      <td><%= profile.area_id %></td>
      <td><%= profile.address %></td>
      <td><%= profile.note %></td>
      <td><%= profile.extra %></td>
      <td>
        <%= link_to admin_profile_path(profile), aria: { label: t('.show') }, remote: true, class: 'button is-small is-rounded is-light' do %>
          <i class="fas fa-eye"></i>
        <% end %>
        <%= link_to edit_admin_profile_path(profile), aria: { label: t('.edit') }, remote: true, class: 'button is-small is-rounded is-light' do %>
          <i class="fas fa-pencil-alt"></i>
        <% end %>
        <%= link_to admin_profile_path(profile), method: :delete, aria: { label: t('.destroy') }, data: { confirm: t('.confirm') }, remote: true, class: 'button is-small is-rounded is-light' do %>
          <i class="fas fa-trash-alt"></i>
        <% end %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>

<%= paginate @profiles %>
