<td><%= model.real_name %></td>
<td><%= model.nick_name %></td>
<td><%= model.gender %></td>
<td>
  <span class="tag"><%= model.birthday_type %></span>
  <span><%= model.birthday %></span>
</td>
<td><%= model.age %></td>
<td><%= model.extra %></td>
