<td class="has-text-mono"><%= model.identity %></td>
<td>
  <p>
    <span><%= model.real_name %></span>
    <span class="tag"><%= model.gender_i18n %></span>
  </p>
  <p class="has-text-grey"><%= model.nick_name %></p>
</td>
<td class="has-text-centered">
<% if model.birthday.present? %>
  <p>
    <span class="tag"><%= model.birthday_type_i18n %></span>
    <span><%= model.birthday %></span>
  </p>
  <p><%= model.age %></p>
<% end %>
</td>
<td><%= model.unionid %></td>
<td><time data-controller="time"><%= model.created_at.to_fs(:iso8601) %></time></td>
