<td><%= model.identity %></td>
<td>
  <p><%= model.real_name %></p>
  <p class="has-text-grey"><%= model.nick_name %></p>
</td>
<td><%= model.gender %></td>
<td>
  <span class="tag"><%= model.birthday_type %></span>
  <span><%= model.birthday %></span>
</td>
<td><%= model.age %></td>
<td><%= model.extra %></td>
