<th><%= Profiled::Profile.human_attribute_name(:identity) %></th>
<th>
  <p><%= Profiled::Profile.human_attribute_name(:real_name) %></p>
  <p class="has-text-grey"><%= Profiled::Profile.human_attribute_name(:nick_name) %></p>
</th>
<th><%= Profiled::Profile.human_attribute_name(:gender) %></th>
<th class="has-text-centered">
  <p><%= Profiled::Profile.human_attribute_name(:birthday) %></p>
  <p><%= Profiled::Profile.human_attribute_name(:age) %></p>
</th>
<th><%= Profiled::Profile.human_attribute_name(:unionid) %></th>
