<table class="ui very basic large table">
  <thead>
    <tr>
      <th class="six wide">
        <%= link_to t('.edit'), edit_my_rally_path(@rally), class: 'ui mini blue right floated button', remote: true %>
      </th>
      <th class="ten wide"></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="right aligned"><%= Rally.human_attribute_name(:name) %></td>
      <td><%= @rally.name %></td>
    </tr>
    <tr>
      <td class="right aligned"><%= Rally.human_attribute_name(:detail) %></td>
      <td><%= @rally.detail %></td>
    </tr>
    <tr>
      <td class="right aligned"><%= Rally.human_attribute_name(:area_id) %></td>
      <td><%= @rally.area_id %></td>
    </tr>
  </tbody>
</table>
