<tr>
  <td class="has-text-right"><%= Profiled::Address.human_attribute_name(:contact) %></td>
  <td><%= @address.contact %></td>
</tr>
<tr>
  <td class="has-text-right"><%= Profiled::Address.human_attribute_name(:detail) %></td>
  <td><%= @address.detail %></td>
</tr>
<tr>
  <td class="has-text-right"><%= Profiled::Address.human_attribute_name(:area_id) %></td>
  <td><%= @address.area_id %></td>
</tr>
