<div data-controller="weui-dialog" id="dialog">
  <div class="weui-half-screen-dialog weui-half-screen-dialog_show" data-weui-dialog-target="dialog">
    <div class="weui-half-screen-dialog__hd">
      <div class="weui-half-screen-dialog__hd__side">
        <button class="weui-btn weui-btn_mini weui-btn_warn">返回</button>
      </div>
      <div class="weui-half-screen-dialog__hd__main">
        <div class="weui-half-screen-dialog__title">选择</div>
      </div>
      <div class="weui-half-screen-dialog__hd__side">
        <button class="weui-btn weui-btn_mini weui-btn_primary" data-action="weui-dialog#close">关闭</button>
      </div>
    </div>
    <div class="weui-half-screen-dialog__bd">
      <%= form_with theme: 'weui', model: @address, url: { action: 'wechat' }, data: { controller: 'wechat_address' } do |f| %>
        <%= f.text_field :contact %>
        <%= f.text_field :tel %>
        <div class="weui-cell weui-cell_active weui-cell_readonly">
          <div class="weui-cell__hd">
            <label class="weui-label"><%= Profiled::Address.human_attribute_name(:area_id) %></label>
          </div>
          <div class="weui-cell__bd is-flex">
            <%= text_field_tag :provinceName, params[:provinceName], class: 'weui-input', readonly: true %>
            <%= text_field_tag :cityName, params[:cityName], class: 'weui-input', readonly: true %>
            <%= text_field_tag :countyName, params[:countyName], class: 'weui-input', readonly: true %>
          </div>
        </div>
        <%= f.text_area :detail %>
        <%= f.text_field :post_code %>
        <%= hidden_field_tag :return_to, params[:return_to] %>
        <%= f.submit nil, wrap: { all: nil } %>
      <% end %>
    </div>
    <div class="weui-half-screen-dialog__ft"></div>
  </div>
</div>
