<%= content_for(:wechat_js) do %>
  <%= wechat_config_js debug: false, apis: ['openAddress', 'getLocation', 'openLocation', 'scanQRCode'] -%>
  <meta name="turbo-visit-control" content="reload">
<% end %>

<div class="weui-panel">
  <div class="weui-panel__hd"><%= t('.title') %></div>
  <div class="weui-panel__bd">
    <%= render partial: 'address', collection: @addresses, as: :model %>
  </div>
  <div class="weui-panel__ft" data-controller="wechat" data-wechat-address-value="/pages/profiled/my/addresses/index">
    <div class="weui-cell weui-cell_access weui-cell_link" data-action="click->wechat#openAddress">
      <div class="weui-cell__bd"><%= t('.new') %></div>
      <span class="weui-cell__ft"></span>
    </div>
    <div class="weui-cell weui-cell_access weui-cell_link" data-action="click->wechat#scan">
      <div class="weui-cell__bd"><%= t('.add') %></div>
      <span class="weui-cell__ft"></span>
    </div>
  </div>
</div>

<%= render 'wechat_form' %>
