<div class="weui-panel is-borderless">
  <div class="weui-panel__hd as-bar pt-0">
    <%= link_to(params[:return_to], class: 'px-4') do %>
      <i class="fa-regular fa-angle-left"></i>
    <% end %>
    <div class="weui-title"><%= t('.title') %></div>
    <i class="px-4" style="width: 37.5px"></i>
  </div>
</div>

<div class="weui-panel" id="wechat_panel">
  <div class="weui-panel__hd level is-flex mb-0">
    <div class="level-left"><%= t('.title') %></div>
    <div class="level-right mt-0">
      <%= link_to t('profiled.my.addresses.list.title'), { action: 'list' } %>
    </div>
  </div>
  <div class="weui-panel__bd">
    <%= render partial: 'address', collection: @addresses, as: :model %>
  </div>
  <div class="weui-panel__ft"
       data-controller="wechat"
       data-wechat-address-value="/pages/profiled/my/addresses/index?url=<%= url_for(action: 'program', only_path: false) %>"
       data-wechat-url-value="<%= url_for(action: 'fork', only_path: false) %>"
       data-wechat-options-value="<%= current_wechat_app.js_config(request.original_url).to_json %>"
       data-wechat-apis-value="<%= ['openAddress', 'getLocation', 'openLocation', 'scanQRCode'].to_json %>"
       data-wechat-debug-value="true"
       id="wechat_address">
    <div class="weui-cell weui-cell_access weui-cell_link" data-action="click->wechat#openAddress">
      <div class="weui-cell__bd"><%= t('.new') %></div>
      <span class="weui-cell__ft"></span>
    </div>
    <%= link_to({ action: 'new' }, class: 'weui-cell weui-cell_access weui-cell_link') do %>
      <div class="weui-cell__bd">手动添加</div>
      <span class="weui-cell__ft"></span>
    <% end %>
  </div>
</div>
