<%= content_for(:wechat_js) do %>
  <%= wechat_config_js debug: false, apis: ['openAddress', 'getLocation', 'openLocation', 'scanQRCode'] -%>
  <meta name="turbo-visit-control" content="reload">
<% end %>

<div class="weui-panel">
  <div class="weui-panel__hd"><%= t('.title') %></div>
  <div class="weui-panel__bd">
    <div class="weui-cells weui-cells_radio">
      <%= render partial: 'address', collection: @current_user.addresses, as: :model %>
    </div>
  </div>
  <div class="weui-panel__ft" data-controller="wechat" data-wechat-address-value="/pages/profiled/my/addresses/index?url=<%= url_for(action: 'program', only_path: false) %>" data-wechat-url-value="<%= url_for(action: 'fork', only_path: false) %>" id="wechat_address">
    <div class="weui-cells">
      <div class="weui-cell weui-cell_access weui-cell_link" data-action="click->wechat#openAddress">
        <div class="weui-cell__bd"><%= t('.new') %></div>
        <span class="weui-cell__ft"></span>
      </div>
    </div>
  </div>
</div>

<% if current_cart.member %>
<div class="weui-panel">
  <div class="weui-panel__hd"><%= current_cart.member.organ.name %></div>
  <div class="weui-panel__bd">
    <div class="weui-cells weui-cells_radio">
    <% if current_cart.member.organ.addresses.blank? %>
      <div class="weui-cell has-text-grey">暂无地址，请联系企业负责人添加</div>
    <% else %>
      <%= render partial: 'address', collection: current_cart.member.organ.addresses, as: :model %>
    <% end %>
    </div>
  </div>
</div>
<% end %>
