<%= content_for(:wechat_js) do %>
  <%= wechat_config_js debug: false, apis: ['openAddress', 'getLocation', 'openLocation', 'scanQRCode'] -%>
  <meta name="turbo-visit-control" content="reload">
<% end %>

<div class="weui-panel is-borderless">
  <div class="weui-panel__hd as-bar pt-0">
    <%= link_to(params[:return_to], class: 'px-4') do %>
      <i class="fa-regular fa-angle-left"></i>
    <% end %>
    <div class="weui-title"><%= t('.title') %></div>
    <i class="px-4" style="width: 37.5px"></i>
  </div>
</div>

<% if current_cart.member %>
<div class="weui-panel">
  <div class="weui-panel__hd"><%= current_cart.member.organ.name %></div>
  <div class="weui-panel__bd">
    <div class="weui-cells weui-cells_radio">
    <% if current_cart.member.organ.addresses.blank? %>
      <div class="weui-cell has-text-grey">暂无地址，请联系企业负责人添加</div>
    <% else %>
      <%= render partial: 'address', collection: current_cart.member.organ.addresses, as: :model %>
    <% end %>
    </div>
  </div>
</div>
<div class="has-text-centered has-text-grey mt-6">如地址有误，请联系企业负责人修改</div>

<% else %>
<div class="weui-panel" id="wechat_panel">
  <div class="weui-panel__hd level is-flex">
    <div class="level-left"><%= t('.title') %></div>
    <div class="level-right mt-0">
      <%= link_to t('profiled.my.addresses.index.title'), { action: 'index' } %>
    </div>
  </div>
  <div class="weui-panel__bd">
    <div class="weui-cells weui-cells_radio">
      <%= render partial: 'address', collection: @current_user.addresses, as: :model %>
    </div>
  </div>
  <% if @current_user.addresses.blank? %>
    <div class="weui-panel__ft" data-controller="wechat" data-wechat-address-value="/pages/profiled/my/addresses/index?url=<%= url_for(action: 'program', only_path: false) %>" data-wechat-url-value="<%= url_for(action: 'fork', only_path: false) %>" id="wechat_address">
      <div class="weui-cells">
        <div class="weui-cell weui-cell_access weui-cell_link" data-action="click->wechat#openAddress">
          <div class="weui-cell__bd"><%= t('.new') %></div>
          <span class="weui-cell__ft"></span>
        </div>
      </div>
    </div>
  <% end %>
</div>
<% end %>
