<th><%= Profiled::Area.human_attribute_name(:names) %></th>
<th>
  <p><%= Profiled::Area.human_attribute_name(:name) %></p>
  <p><%= Profiled::Area.human_attribute_name(:full) %></p>
</th>
<th><%= Profiled::Area.human_attribute_name(:popular) %></th>
<th><%= Profiled::Area.human_attribute_name(:published) %></th>
<th></th>
