<td>
  <p><%= model.contact %></p>
  <p><%= model.tel %></p>
</td>
<td>
  <p><strong><%= model.area.full_name %></strong></p>
  <p class="is-size-7"><%= model.detail %></p>
</td>
<td><%= model.station&.name %></td>
<td>
  <p><time data-controller="time"><%= model.created_at.to_fs(:iso8601) %></time></p>
  <p class="has-text-grey"><time data-controller="time"><%= model.updated_at.to_fs(:iso8601) %></time></p>
</td>
<td>
<% if model.account&.user_id == model.user_id %>
  <div class="tags has-addons">
    <span class="tag is-info"><i class="fa-solid fa-person"></i></span>
    <span class="tag"><%= model.user&.name.presence || model.user_id %></span>
  </div>
<% else %>
  <div class="tags has-addons">
    <span class="tag is-danger"><i class="fa-solid fa-people"></i></span>
    <span class="tag"><%= model.account&.user&.name || model.account&.user_id %></span>
  </div>
<% end %>
</td>
