<div class="ui four cards">
  <% @profiles.each do |profile| %>
  <div class="card">
    <div class="ui small circular image">
      <%= image_tag profile.avatar if profile.avatar.present? %>
    </div>
    <div class="content">
      <div>
        <i class="fa-regular fa-user"></i>
        <span class="ui grey text"><%= profile.real_name %></span>
        <span class="ui green text"><%= profile.identity %></span>
        <%= link_to({ action: 'edit' }, aria: { label: t('.edit') }) do %>
          <i class="fa-regular fa-pencil"></i>
        <% end %>
      </div>
    </div>
    <div class="extra content">
      <p>
        <span><%= profile.address %></span>
      </p>
    </div>
  </div>
  <% end %>
  <div class="card">
    <div class="content">
      <%= link_to({ action: 'new' }, aria: { label: t('profile.my.profiles.new.title') }) do %>
        <i class="fa-regular fa-plus"></i>
      <% end %>
    </div>
  </div>
</div>
