<th>
  <p><%= Profiled::Address.human_attribute_name(:contact) %></p>
  <p><%= Profiled::Address.human_attribute_name(:tel) %></p>
</th>
<th>
  <p><%= Profiled::Address.human_attribute_name(:area_id) %></p>
  <p><%= Profiled::Address.human_attribute_name(:detail) %></p>
</th>
<th><%= Profiled::Address.human_attribute_name(:station_id) %></th>
<th>
  <p><%= Profiled::Address.human_attribute_name(:created_at) %></p>
  <p class="has-text-grey"><%= Profiled::Address.human_attribute_name(:updated_at) %></p>
</th>
