<div class="weui-media-box weui-media-box_appmsg">
  <div class="weui-media-box__bd is-flex is-flex-direction-column">
    <h6 class="weui-media-box__title">
      <span><%= model.contact %></span>
      <span><%= model.tel %></span>
    </h6>
    <div class="weui-media-box__desc is-size-7">
      <span><%= model.area.full_name %></span>
      <span><%= model.detail %></span>
    </div>
  </div>
  <div class="weui-media-box__ft">
    <%= link_to({ action: 'edit', id: model.id }, class: 'weui-btn weui-btn_primary button_to px-4') do %>
      <i class="fa-light fa-pencil has-text-white"></i>
    <% end %>
    <%= button_to({ action: 'destroy', id: model.id }, method: :delete, data: { confirm: t('.confirm') }, form: { class: 'weui-btn weui-btn_danger button_to' }) do %>
      <i class="fa-light fa-trash has-text-white"></i>
    <% end %>
  </div>
</div>
