<div class="weui-media-box weui-media-box_appmsg">
  <div class="weui-media-box__bd is-flex is-flex-direction-column">
    <h6 class="weui-media-box__title">
      <span><%= model.contact %></span>
      <span><%= model.tel %></span>
    </h6>
    <div class="weui-media-box__desc is-size-7">
      <span><%= model.area.full_name %></span>
      <span><%= model.detail %></span>
      <% if model.principal %>
      <span class="tag">
        <i class="fa-solid fa-circle-check has-text-success"></i>
        <span class="pl-1">默认地址</span>
      </span>
      <% end %>
    </div>
  </div>
  <div class="weui-media-box__ft">
    <%= button_to({ action: 'actions', id: model.id }, class: 'button is-borderless') do %>
      <i class="fa-light fa-ellipsis-h fa-lg"></i>
    <% end %>
  </div>
</div>
