<label class="weui-cell weui-cell_active weui-check__label" for="cart_address_id_<%= model.id %>">
  <span class="weui-cell__bd is-flex is-flex-direction-column">
    <span>
      <span><%= model.contact %></span>
      <span><%= model.tel %></span>
    </span>
    <span class="is-size-7">
      <span><%= model.area.full_name %></span>
      <span><%= model.detail %></span>
    </span>
  </span>
  <span class="weui-cell__ft" data-controller="input">
    <span class="has-text-grey">选为默认</span>
    <%= form_with theme: nil, scope: 'cart', url: { controller: 'trade/my/carts', action: 'update' }, method: :patch do |f| %>
      <%= hidden_field_tag :return_to, params[:return_to] %>
      <%= f.radio_button :address_id, model.id, checked: model.id == current_cart.address_id, class: 'weui-check', data: { action: 'input#form' } %>
      <span class="weui-icon-checked"></span>
    <% end %>
  </span>
</label>
