<div class="weui-form-preview">
  <div class="weui-form-preview__bd">
    <div class="weui-form-preview__item">
      <label class="weui-form-preview__label"><%= Profile.human_attribute_name(:real_name) %></label>
      <span class="weui-form-preview__value"><%= @profile.real_name %></span>
    </div>
    <div class="weui-form-preview__item">
      <label class="weui-form-preview__label"><%= Profile.human_attribute_name(:nick_name) %></label>
      <span class="weui-form-preview__value"><%= @profile.nick_name %></span>
    </div>
    <div class="weui-form-preview__item">
      <label class="weui-form-preview__label"><%= Profile.human_attribute_name(:gender) %></label>
      <span class="weui-form-preview__value"><%= @profile.gender_i18n %></span>
    </div>
    <div class="weui-form-preview__item">
      <label class="weui-form-preview__label"><%= Profile.human_attribute_name(:birthday_type) %></label>
      <span class="weui-form-preview__value"><%= @profile.birthday_type_i18n %></span>
    </div>
    <div class="weui-form-preview__item">
      <label class="weui-form-preview__label"><%= Profile.human_attribute_name(:birthday) %></label>
      <span class="weui-form-preview__value"><%= @profile.birthday %></span>
    </div>
    <div class="weui-form-preview__item">
      <label class="weui-form-preview__label"><%= Profile.human_attribute_name(:age) %></label>
      <span class="weui-form-preview__value"><%= @profile.age %></span>
    </div>
  </div>
  <div class="weui-form-preview__ft">
    <%= link_to t('.edit'), edit_mine_profile_path, class: 'weui-form-preview__btn weui-form-preview__btn_primary' %>
  </div>
</div>

<div class="weui-panel">
  <div class="weui-panel__bd">
    <%= link_to '开始记录', new_mine_profile_symptom_path(@profile), remote: true, class: 'weui-btn weui-btn_primary' %>
  </div>
</div>
