<tr>
  <td class="has-text-right"><%= Profiled::Profile.human_attribute_name(:real_name) %></td>
  <td><%= @profile.real_name %></td>
</tr>
<tr>
  <td class="has-text-right"><%= Profiled::Profile.human_attribute_name(:nick_name) %></td>
  <td><%= @profile.nick_name %></td>
</tr>
<tr>
  <td class="has-text-right"><%= Profiled::Profile.human_attribute_name(:gender) %></td>
  <td><%= @profile.gender %></td>
</tr>
<tr>
  <td class="has-text-right"><%= Profiled::Profile.human_attribute_name(:birthday_type) %></td>
  <td><%= @profile.birthday_type %></td>
</tr>
<tr>
  <td class="has-text-right"><%= Profiled::Profile.human_attribute_name(:birthday) %></td>
  <td><%= @profile.birthday %></td>
</tr>
<tr>
  <td class="has-text-right"><%= Profiled::Profile.human_attribute_name(:area_id) %></td>
  <td><%= @profile.area_id %></td>
</tr>
<tr>
  <td class="has-text-right"><%= Profiled::Profile.human_attribute_name(:address) %></td>
  <td><%= @profile.address %></td>
</tr>
<tr>
  <td class="has-text-right"><%= Profiled::Profile.human_attribute_name(:note) %></td>
  <td><%= @profile.note %></td>
</tr>
<tr>
  <td class="has-text-right"><%= Profiled::Profile.human_attribute_name(:extra) %></td>
  <td><%= @profile.extra %></td>
</tr>
